body{
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e0fd;
    
    }
    .container{
            display: flex;
            flex-direction: row;
            background-color: #15521B;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            height: 921px;
            width: 1000px;
            margin-top: 400px;}
    .logo{
        display: flex;
        justify-content: center;
    
    }
    .welcome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .welcome h1{
    color: white;
    font-size: 45px;
    } 
    .welcome p{
        color: white;
        font-size: 20px;
        } 
    .account{
        display: flex;
        flex-direction: column;
        /* background-color: white; */
        border-radius: 65px 0 0 65px;
        padding-top: 50px;
        align-items: center;
        width: 608px;
    }
    p{
        color: black;
        font-size: 25px;
            margin: 0;

    }
    #well{
        font-size: 25px;
        color: white;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .account h1{
        color: transparent;
        background: linear-gradient(to right, #5c2ed1, #da1dda);
        background-clip: text;
        margin-top: 0px;

        font-size: 47px;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    form input{
       background-color: #e6e0fd;
        
        width: 306px;
        height: 35px;
        margin: 10px;
        border-color: #9b15db;
        
    }
    hr{
        background-color: #000;
        width: 145px;
        margin: 25px;

    }
        #text, #mail, #place{
            display: flex;
            border-radius: 15px;
        
            background-position: 14px 23px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
        }
        #text{
            background-image: url('./Images/avatar-294480_1280.png');
            background-size: 15px;
        }
        #mail{
            background-image: url('./Images/message.png');
            background-size: 15px;
        }
        #place{
            background-image: url('./Images/password.png');
            background-size: 15px;
    
        }
        button{
            background: linear-gradient(to right, #244fc5, #ff69b4);
            width: 330px;
            height: 49px;
            border-radius: 10px;
            color: #0f0f0f;
            margin-top: 34px;
        }
    .hr{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .terms{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .terms a{
        color: black;
        margin-left: 10px;

    }
    .terms p{
    }

    .logo img{
        width: 80px;
        border-radius: 50%;
    }
    .contain{
    display: flex;
    flex-direction: row;
    background-color: #f4e8ff;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 921px;
    width: 1000px;
    margin-top: 400px;
    }
    #but{
        background:#e6e0fd;
        width: 367px;
        height: 49px;
        border-radius: 10px;
        color: black;
        margin-top: 5px;
        margin-bottom: 10px;
        flex-direction: row;
        border-color: rgb(13, 13, 13);
display:flex;
    justify-content: center;
    align-items: center;
}
    #but img{
        margin-right: 5px;
    }
    input[type="checkbox" i] {
        width: 33px;
    }
    .have {
margin-top: 20px;
    }
    .have a{
        text-decoration: none;
        color: hotpink;
    
    }
    .map{
        display: flex;
        flex-direction: column;
        background-image: url(./Images/Sign\ Up\ Screen.png);
        align-items: center;
        justify-content: center;
    }
    .map img{
        width: 384.01px;
        height: 327px;
        margin: 33px;
        }
    .map h1{
            color: transparent;
            background: linear-gradient(to right, #5c2ed1, #da1dda);
            background-clip: text;
            margin-top: 0px;
            font-size: 47px;
    }